.footer {
    background-color:orange;
    color: rgb(47, 22, 192);
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    flex-shrink: 0;
    position: relative;
    z-index: 10;
}

.footer-text {
    width: 100%;
    position: relative;
}

@media (max-width: 768px) {
    .footer-text {
        padding: 0.5rem 0;
    }
}
