html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: hsl(49, 90%, 48%);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: url('se_logo.png') no-repeat center center;
    background-size: 50%; /* Adjust background size as needed to fit the content */
    background-attachment: fixed; /* Ensure background stays fixed */
    padding-top: 60px; /* Adjust this value based on the height of your navbar */
    padding-bottom: 60px; /* Adjust this value based on the height of your footer */
    background-color: rgb(221, 110, 7); /* Set the background color between navbar and footer */
}


/* Responsive Adjustments */
@media (max-width: 768px) {
    main {
        padding-top: 40px; /* Adjust padding for smaller viewports */
        padding-bottom: 40px; /* Adjust padding for smaller viewports */
    }
}
